@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  background-image: url('./images/background.png'); /* Path to your background image */
  background-size:contain; /* Cover the entire body with the image */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-attachment: fixed; /* Fixed background position */
  background-position: center 20px;
  background-clip: content-box;
  
}

.nav{
  background-color: #003049;
  color: #fff;
  display: flex;
  height:60px;
  align-items: center;
  padding:10px 10%;
  justify-content: space-between;

}

.site-title{
  font-size: 1.3rem;
}

.nav a{

  color: inherit;
  text-decoration: none;

}

.nav li{

  list-style: none;
}

.navbar-button{

  background-color: #F16C0D; 
  color: white;             
  padding: 10px 30px;     
  border: none;             
  border-radius: 5px;       
}